

    <!-- About section -->
    <section id="about" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="assets/20240302_191536.jpg" alt="Imagem Perfil" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title">Ryan Moraes Pereira</h6>
                    <p class="subtitle">Desenvolvedor de Web Designer</p>
                    <p>Sou Ryan Moraes, um estudante de Web-Desing dedicado e interessado com assuntos relacionados a desenvolvimento Web.</p>
                    <p>Com alguns conhecimentos em Front-End e Back-End, estou sempre em busca de desafios e experiências novas que me permitam crescer como desenvolvedor Web e contribuir de maneira significativa para o sucesso das equipes e empresas.</p>

                </div>
            </div>
        </div>
    </section>
