
    <!-- Page navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top background" data-spy="affix" data-offset-top="0">
        <div class="container">

          <!--<div>
            <input type="checkbox" class="checkbox" id="chk" />
            <label class="label" for="chk">
              <i class="fas fa-moon"></i>
              <i class="fas fa-sun"></i>
              <div class="ball"></div>
            </label>
          </div>-->



          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#service">Conhecimentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="- btn btn-primary rounded ml-4" href="#portfolio">Portfolio</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
    <!-- End of page navibation -->

    <!-- Page Header -->
    <header class="header" id="home">
        <div class="container">
            <div class="infos">
                <h6 class="subtitle">Olá, eu sou </h6>
                <h6 class="title">Ryan Moraes</h6>
                <p>Desenvolvedor Web-Desing     </p>

                <div class="buttons pt-3">
                   <!-- <button class="btn btn-primary rounded">HIRE ME</button> -->
                    <button class="btn btn-dark rounded"> <a href="./assets/Currículo.pdf">Baixar Curriculo</a> </button>
                </div>

                <div class="socials mt-4">

                    <a class="social-item" target="_blank" href="mailto:ryanmulekim@gmail.com"><i class='bx bx-envelope'></i></a>
                    <a class="social-item" target="_blank" href="https://api.whatsapp.com/send?phone=5561994543439&text=Ol%C3%A1%20Ryan%20Moraes,%20gostaria%20de%20conversar%20mais%20com%20voc%C3%AA!!"><i class='bx bxl-whatsapp'></i></a>
                    <a class="social-item" target="_blank" href="https://www.linkedin.com/in/ryan-moraes-pereira-7513ba240/"><i class='bx bxl-linkedin-square'></i></a>

                </div>
            </div>
            <div class="img-holder">
                <img src="./../../../assets/imagemDeFundoPC.png" alt="a">
            </div>
        </div>

        <!-- Header-widget -->

    </header>
    <!-- End of Page Header -->

