<!-- End of Sectoin -->

    <!-- Skills section -->

    <!-- End of Skills sections -->

    <!-- Portfolio section -->
    <section id="portfolio" class="section">
      <div class="container text-center">
          <h6 class="subtitle">Portfolio</h6>
          <h6 class="section-title mb-4">Projeto criado</h6>
          <p class="mb-5 pb-4"></p>

          <div class="row">
              <div class="col-sm-3">
                  <div class="img-wrapper">
                    <img src="./../../../assets/ttrc.png" class="ttt" alt="">
                      <div class="overlay">
                          <div class="overlay-infos">
                              <h5>Memoteca</h5>
                              <a href="javascript:void(0)"><i class='bx bx-search'></i></a>
                              <a href="javascript:void(0)"><i class='bx bx-git-branch'></i></a>
                          </div>
                      </div>
                  </div>
                </div>
              <div class="col-sm-3">
                  <div class="img-wrapper">
                    <img src="./../../../assets/memo2.png" class="ttt" alt="">
                      <div class="overlay">
                          <div class="overlay-infos">
                              <h5>Memorando</h5>
                              <a href="javascript:void(0)"><i class='bx bx-search'></i></a>
                              <a href="javascript:void(0)"><i class='bx bx-git-branch'></i></a>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="img-wrapper">
                    <img src="./../../../assets/asddd.png" class="ttt" alt="">
                      <div class="overlay">
                          <div class="overlay-infos">
                              <h5>Loja de Roupas Virtual</h5>
                              <a href="https://ryanmulekim.github.io/Moda-Feminina/" target="_blank"><i class='bx bx-search'></i></a>
                              <a href="https://github.com/ryanmulekim/Moda-Feminina" target="_blank"><i class='bx bx-git-branch'></i></a>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="img-wrapper">
                    <img src="./../../../assets/relogiio.png" class="ttt" alt="">
                      <div class="overlay">
                          <div class="overlay-infos">
                              <h5>Exact Time</h5>
                              <a href="https://ryanmulekim.github.io/Loja-Relogio/" target="_blank"><i class='bx bx-search'></i></a>
                              <a href="https://github.com/ryanmulekim/Loja-Relogio" target="_blank"><i class='bx bx-git-branch'></i></a>
                          </div>
                      </div>
                  </div>
                </div>

         </div>




     </div>

  </section>
