<!-- Service section -->
<section id="service" class="section">
  <div class="container text-center">
      <h6 class="subtitle"></h6>
      <h6 class="section-title mb-4">Conhecimentos</h6>
      <p class="mb-5 pb-4">Front-End</p>

      <div class="row">
          <div class="col-sm-6 col-md-3 mb-4">
              <div class="custom-card card border">
                  <div class="card-body">
                    <i class='bx bxl-java' ></i>
                      <h5>JAVA</h5>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 mb-4">
              <div class="custom-card card border">
                  <div class="card-body">
                      <i class='bx bxl-javascript' ></i>
                      <h5>JAVA SCRIPT</h5>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 mb-4">
              <div class="custom-card card border">
                  <div class="card-body">
                      <i class='bx bxl-typescript' ></i>
                      <h5>TYPE SCRIPT</h5>
                  </div>
              </div>
          </div>


          <div class="col-sm-6 col-md-3 mb-4">
              <div class="custom-card card border">
                  <div class="card-body">
                      <i class='bx bxl-angular'></i>
                      <h5>ANGULAR 14-17</h5>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 mb-4">
              <div class="custom-card card border">
                  <div class="card-body">
                      <i class='bx bxl-bootstrap' ></i>
                      <h5>BOOTSTRAP 5</h5>
                  </div>
              </div>
          </div>

          <div class="col-sm-6 col-md-3 mb-4">
              <div class="custom-card card border">
                  <div class="card-body">
                    <i class='bx bxl-git'></i>
                      <h5>GIT-GITHUB</h5>
                  </div>
              </div>
          </div>

          <div class="col-sm-6 col-md-3 mb-4">
            <div class="custom-card card border">
                <div class="card-body">
                  <i class='bx bxs-doughnut-chart'></i>
                    <h5>OutSystem</h5>
                </div>
            </div>
        </div>

          <div class="col-sm-6 col-md-3 mb-4">
            <div class="custom-card card border">
                <div class="card-body">
                    <i class='bx bxl-sass' ></i>
                    <h5>SASS</h5>
                </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!-- End of Sectoin -->
